<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#SUBJECT#</title>
	<style>
		body, p, td {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 13px;
		}
		
		h1, h2, h3 {
			font-family: Arial, Helvetica, sans-serif;	
		}
		
		input, select {
			font-family: Arial;
			font-size: 12px;
		}
	</style>
</head>

<body>

<h2>Rupsbandjenooitgenoeg.nl</h2>

#BODY#

<br />
<br />


Als deze e-mail niet door jou aangevraagd is vragen wij je deze als niet verzonden te beschouwen.<br />
Wanneer je meer dan &eacute;&eacute;n van deze e-mails ontvangen hebt binnen korte tijd, neem dan contact met ons op via <a href="http://www.rupsbandjenooitgenoeg.nl/">www.rupsbandjenooitgenoeg.nl</a>.<br />
<br />
Wil je niet op de hoogte worden gehouden van de rupsbandjenooitgenoeg veranderingen<br />
wijzig dan je profiel op <a href="http://www.rupsbandjenooitgenoeg.nl/">http://www.rupsbandjenooitgenoeg.nl/</a><br />
<br />
Met vriendelijke groet,<br />
Het Rupsbandjenooitgenoeg.nl team<br />
<br />
<small>Let op: dit is een no-reply e-mail adres, antwoorden heeft geen zin!</small>

</body>
</html>
